@charset "utf-8";
	.NormalCharacterStyle2
{
	font-family : Century Gothic Pro;
	font-weight : bold;
	font-style : italic;
	font-size : 36px;
	letter-spacing : 1.8px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle1
{
	font-family : Century Gothic Pro;
	font-weight : bold;
	font-style : italic;
	font-size : 36px;
	letter-spacing : 1.8px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle
{
	font-family : Century Gothic Pro;
	font-weight : bold;
	font-style : italic;
	font-size : 36px;
	letter-spacing : 1.8px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle31
{
	font-family : Century Gothic Pro;
	font-size : 36px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle30
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #990000;
	color : rgb(153, 0, 0);
}
.NormalCharacterStyle29
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #990000;
	color : rgb(153, 0, 0);
}
.NormalCharacterStyle28
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #990000;
	color : rgb(153, 0, 0);
}
.NormalCharacterStyle27
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #990000;
	color : rgb(153, 0, 0);
}
.NormalCharacterStyle26
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #990000;
	color : rgb(153, 0, 0);
}
.NormalCharacterStyle25
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #990000;
	color : rgb(153, 0, 0);
}
.NormalCharacterStyle24
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #660000;
	color : rgb(102, 0, 0);
}
.NormalCharacterStyle23
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #660000;
	color : rgb(102, 0, 0);
}
.NormalCharacterStyle22
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #660000;
	color : rgb(102, 0, 0);
}
.NormalCharacterStyle21
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #660000;
	color : rgb(102, 0, 0);
}
.NormalCharacterStyle20
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #660000;
	color : rgb(102, 0, 0);
}
.NormalCharacterStyle19
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #660000;
	color : rgb(102, 0, 0);
}
.NormalCharacterStyle18
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #660000;
	color : rgb(102, 0, 0);
}
.NormalCharacterStyle17
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #660000;
	color : rgb(102, 0, 0);
}
.NormalCharacterStyle16
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #660000;
	color : rgb(102, 0, 0);
}
.NormalCharacterStyle15
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #660000;
	color : rgb(102, 0, 0);
}
.NormalCharacterStyle14
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #990000;
	color : rgb(153, 0, 0);
}
.NormalCharacterStyle13
{
	font-family : Century Gothic Pro;
	font-weight : bold;
	font-size : 48px;
	letter-spacing : 2.4px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle12
{
	font-family : Century Gothic Pro;
	font-weight : bold;
	font-size : 48px;
	letter-spacing : 2.4px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle11
{
	font-family : Century Gothic Pro;
	font-weight : bold;
	font-size : 48px;
	letter-spacing : 2.4px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle10
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #990000;
	color : rgb(153, 0, 0);
}
.NormalCharacterStyle9
{
	font-family : Century Gothic Pro;
	font-weight : bold;
	font-size : 48px;
	letter-spacing : 2.4px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle8
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #990000;
	color : rgb(153, 0, 0);
}
.NormalCharacterStyle7
{
	font-family : Century Gothic Pro;
	font-weight : bold;
	font-size : 48px;
	letter-spacing : 2.4px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle6
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #990000;
	color : rgb(153, 0, 0);
}
.NormalCharacterStyle5
{
	font-family : Century Gothic Pro;
	font-weight : bold;
	font-size : 48px;
	letter-spacing : 2.4px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle4
{
	font-family : Myriad Pro;
	font-size : 18px;
	line-height : 36px;
	letter-spacing : 0.9px;
	color : #990000;
	color : rgb(153, 0, 0);
}
.NormalCharacterStyle3
{
	font-family : Century Gothic Pro;
	font-weight : bold;
	font-size : 48px;
	letter-spacing : 2.4px;
	color : #000000;
	color : rgb(0, 0, 0);
}
